/Secuencia/nbproject/private/
/Secuencia/build/
/Secuencia/dist/
/SimpleServer/nbproject/private/
Prueba/nbproject/project.properties
Prueba/nbproject/private/private.properties
Prueba/nbproject/private/private.properties
Prueba/nbproject/private/private.xml